.Pcontador {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 50px 10px 0px 10px;
}

.Pcontador div {
    font-size: 60px;
    line-height: 60px;
    background-color: rgb(231, 8, 8);
    color: white;
    padding: 10px;
    border: solid rgba(255, 255, 255, 0.349);
}
.boton1 {
    margin-top: 96px !important;
    margin: 20px;
    padding: 2px 18px;
    background-color: rgb(72, 125, 240);
    color: #fff700;
    position: fixed;
}